body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/background_image.png');
  background-size: 100% 100%;
}
a {
  color: #00B7FF;
}
#logo{
  width: 100%;
  height: 100%;
}
#centerPage{
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}
#firstPartHomePage{
 background-color:rgb(90, 90, 90);
}
#secondPartHomePage{
  margin-left: 2%;
  margin-right: 2%;
}
.buttonHP{
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(36, 196, 175);
  width: 100%;
  border-style: hidden;
  border-radius: 5px;
  font-size: x-large;
}
h1{
  color: black;
}
#label{
  color: white;
}

/* InGamePage */
#logo2{
  width: 50%;
  height: 50%;
}
#firstSquare{
  margin-left: 10%;
  margin-right: 10%;
  background-color:rgb(90, 90, 90);
}
#secondSquare{
  margin: 2%;
  background-color: rgb(36, 196, 175);
}