<div class="chat-container">
    <header class="chat-header">
        <h1><i class="fas fa-smile"></i> GuessIt</h1>
        <a href="index.html" class="btn">Leave Room</a>
    </header>
    <main class="chat-main">
        <div class="chat-sidebar">
            <h3><i class="fas fa-comments"></i> Room Name:</h3>
            <h2 id="room-name">JavaScript</h2>



            <h3><i class="fas fa-users"></i> Users</h3>
            <ul id="users"></ul>
        </div>
        <div id="centerPage">
            <div id="waiting"></div>
            <div id="hey"></div>
            <div id="firstSquare">
                <div id="secondSquare">
                    <div id="timer"></div>
                    <div id="round"></div>
                    <div id="image"></div>
                    <div id="bottomDash"></div>
                    <div id="state"></div>
                    <div id="answerForm"></div>
                </div><!-- div id=secondSquare -->
            </div><!-- div id=firstSquare -->
        </div><!-- div id=centerPage -->
        <div class="chat-messages"></div>
    </main>
    <div class="chat-form-container">
        <form id="chat-form">
            <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
            <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
    </div>
</div>






<div class="container-menu">
    <div class="chat-sidebar">
        <h3><i class="fas fa-comments"></i> Room Name:</h3>
        <h2 id="room-name">JavaScript</h2>
        <h3><i class="fas fa-users"></i> Users</h3>
        <ul id="users"></ul>
    </div>
</div>
<div class="container-ingame">
    <div id="centerPage">
        <div id="waiting"></div>
        <div id="hey"></div>
        <div id="firstSquare">
            <div id="secondSquare">
                <div id="timer"></div>
                <div id="round"></div>
                <div id="image"></div>
                <div id="bottomDash"></div>
                <div id="state"></div>
                <div id="answerForm"></div>
            </div><!-- div id=secondSquare -->
        </div><!-- div id=firstSquare -->
    </div><!-- div id=centerPage -->
    </main>
    <div class="chat-form-container">
        <form id="chat-form">
            <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
            <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
    </div>
</div>
<div class="container-chat">
    <div class="chat-messages"></div>
</div>



<!--GOOD HTML-->
<div class="logo-ingame">
    <div class="container">
        <div class="squares-ingame"></div>
        <div class="squares-ingame"></div>
    </div>
    <div class="container">
        <div class="squares-ingame"></div>
        <div class="squares-ingame"></div>
    </div>
</div>

<div class="container-game">
    <div class="container-menu">
        <h2 id="users-title">USERS</h2>
        <br>
        <ul id="users"></ul>
    </div>
    <div class="container-ingame">
        <div id="round"></div>
        <div id="centerPage">
            <div id="waiting"></div>
            <div id="hey"></div>
            <div id="image"></div>
            <div id="bottomDash"></div>
            <div id="state"></div>
            <div id="answerForm"></div>
        </div><!-- div id=centerPage -->
        <div class="container-timer">
            <h1 id="timer"></h1>
        </div>
    </div>
    <div class="container-chat">
        <div class="chat-messages"></div>
        <div class="chat-form">
            <form id="chat-form">
                <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
                <!-- <button class="btn"><i class="fas fa-paper-plane"></i> Send</button> -->
            </form>
        </div>
    </div>
</div>

/* InGamePage */
.container-ingame{
width: 65%;
overflow: hidden;
background: rgb(49, 126, 126);
margin: 20px auto;
padding: 20px;
display: inline-block;
}
.container-menu{
width: 15%;
height: 528px;
overflow: hidden;
background: rgb(230, 36, 36);
margin: 20px auto;
padding: 20px;
display: inline-block;
}
.container-chat{
width: 18%;
height: 528px;
overflow: hidden;
background: rgb(255, 250, 250);
margin: 20px auto;
padding: 20px;
display: inline-block;
}


<div class="container-game">
    <div class="container-menu">
        <h3><i class="fas fa-users"></i> Users</h3>
        <ul id="users"></ul>
    </div>
    <div class="container-ingame">
        <div id="centerPage">
            <div id="waiting"></div>
            <div id="hey"></div>
            <div id="timer"></div>
            <div id="round"></div>
            <div id="image"></div>
            <div id="bottomDash"></div>
            <div id="state"></div>
            <div id="answerForm"></div>
        </div><!-- div id=centerPage -->
        </main>
    </div>
    <div class="container-chat">
        <div class="chat-messages"></div>
    </div>
    <form id="chat-form">
        <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
        <!-- <button class="btn"><i class="fas fa-paper-plane"></i> Send</button> -->
    </form>
</div>



<!-- Endgame-->
<div class="logo-ingame">
    <div class="container">
        <div class="squares-ingame"></div>
        <div class="squares-ingame"></div>
    </div>
    <div class="container">
        <div class="squares-ingame"></div>
        <div class="squares-ingame"></div>
    </div>
</div>

<div id="centerPage">
    <h1>Guess It</h1>
    <h4>Jeu multijoueur</h4>
    <div id="firstSquare">
        <div id="secondSquare">
            <h1>Partie terminée</h1>
            <h1>Classement : </h1>
        </div>
    </div>
</div>